.products-main {
    max-width: 1032px;
    margin: 3rem auto;
    padding-bottom: 2rem;
}

.products-main .guitar__card {
    animation: show-guitars 1s forwards;
    opacity: 0;
}

@keyframes show-guitars {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.products-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 3rem 0;
}
