@import "imports/root.css";
@import "imports/link-btn.css";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-background);
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
  font-family: var(--text-heading), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h3,
p {
  margin-left: 0.5rem
}

h1 {
  color: var(--color-text-dark);
}

ul{
  list-style: none;
}

img {
  width: 100%;
}

main {
  margin-bottom: 1rem;
}

/* Header and Footer */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

header,
footer {
  color: var(--color-text-light);
  background-color: var(--color-primary);
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  background: var(--color-primary);
  z-index: 1000;
  right: 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: block;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}

#mobile-menu {
  display: none;
}

#mobile-menu:checked ~ nav {
  display: block;
}

footer {
  text-align: center;
  padding: 2rem 0;
}
/* Header and Footer END */


