@import "imports/root.css";
@import "imports/link-btn.css";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-background);
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
  font-family: var(--text-heading), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: var(--color-text-dark);
}

ul{
  list-style: none;
}

img {
  width: 100%;
}

main {
  margin-bottom: 1rem;
}

/* Header and Footer */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

header,
footer {
  color: var(--color-text-light);
  background-color: var(--color-primary);
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  background: var(--color-primary);
  z-index: 1000;
  right: 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: block;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}

#mobile-menu {
  display: none;
}

#mobile-menu:checked ~ nav {
  display: block;
}

footer {
  text-align: center;
  padding: 2rem 0;
}
/* Header and Footer END */

/* Guitar product cards */
.guitar__card {
  background-color: #dcdcdc;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border: solid 2px var(--color-primary);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.guitar__card img {
  grid-column: -1/1;
  border-radius: 0.5rem 0.5rem 0 0;
}

.guitar__card h2,
.guitar__card h3,
.guitar__card p{
  grid-column: 1;
  text-align: left;
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  margin: 0.5rem;
}

.guitar__card h2,
.guitar__card h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.guitar__card p {
  font-size: 1.4rem;
  font-weight: bolder;
}

.guitar__card:hover {
  transform: scale(1.05);
}
/* Guitar product cards END */
